@model DisplayTemplate.Controllers.Person

<div class="form-group">
    @Html.LabelFor(x => x.name):
    @Html.DisplayFor(x => x.name)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.age):
    @Html.DisplayFor(x => x.age)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.birthdate):
    @Html.DisplayFor(x => x.birthdate)
</div>
<div class="form-group">
    @Html.LabelFor(x => x.employee):
    @Html.DisplayFor(x => x.employee)
</div>